Repository jmpsec/osctrl, pull requests merged in 2022-05, with the labels that each got.

#261 Bump to version 0.2.9
  CHANGELOG.md
  admin/auth/go.mod
  admin/handlers/go.mod
  admin/sessions/go.mod
  carves/go.mod
  deploy/docker/README.md
  deploy/docker/env.example
  go.mod
  logging/go.mod
  osctrl-api.yaml
  tls/handlers/go.mod
  types/go.mod
  users/go.mod
  version/version.go
Labels: 🔖 new version

#262 Fix osctrl cli dockerfile
  deploy/cicd/Dockerfile-osctrl-cli
Labels: osctrl-cli, 📦 build, 🚧 bugfix

#263 Extending and rotating one-liners
  admin/handlers/post.go
  admin/handlers/templates.go
  admin/handlers/types-templates.go
  admin/static/js/enrolls.js
  admin/templates/enroll.html
  environments/environments.go
  environments/util.go
  settings/settings.go
  tls/main.go
  tls/settings.go
  utils/time-utils.go
Labels: ✨ enhancement, osctrl-tls, osctrl-admin, enrollment

#266 API settings
  admin/handlers/templates.go
  api/handlers-settings.go
  api/main.go
  osctrl-api.yaml
  settings/settings.go
  tools/api_testing.py
Labels: osctrl-api
