Repository jmpsec/osctrl, pull requests merged in 2022-01, with the labels that each got.

#175 Adding docker development environment
  .github/workflows/tagged-releases.yml
  Makefile
  deploy/cicd/Dockerfile-osctrl-admin
  deploy/cicd/Dockerfile-osctrl-api
  deploy/cicd/Dockerfile-osctrl-cli
  deploy/cicd/Dockerfile-osctrl-tls
  deploy/docker/.air-osctrl-admin.toml
  deploy/docker/.air-osctrl-api.toml
  deploy/docker/.air-osctrl-tls.toml
  deploy/docker/Dockerfile-osctrl-dev
  deploy/docker/Dockerfile-osctrl-prod
  deploy/docker/conf/osquery/wait.sh
  deploy/docker/docker-compose-dev.yml
  deploy/docker/docker-compose-prod.yml
  deploy/docker/dockerize.sh
Labels: deployment, build

#176 Single file to manage version number
  admin/handlers/go.mod
  admin/main.go
  api/main.go
  cli/main.go
  go.mod
  tls/handlers/go.mod
  tls/main.go
  version/go.mod
  version/version.go
Labels: enhancement

#178 Support for env variables for parameters in `osctrl-admin`
  admin/main.go
  admin/utils.go
Labels: enhancement, deployment, osctrl-admin, build

#181 Use the values from env variables in `osctrl-tls`
  admin/main.go
  tls/main.go
Labels: enhancement, deployment, osctrl-tls, build

#180 Update Docker CI/CD GHA action
  .github/workflows/tagged-releases.yml
Labels: deployment, build

#196 Support for env variables for parameters in `osctrl-api`
  admin/main.go
  api/main.go
Labels: enhancement, deployment, osctrl-api, build

#197 Using correct default file for parameters
  admin/main.go
  api/main.go
  tls/main.go
Labels: deployment, osctrl-tls, osctrl-api, osctrl-admin, bugfix

#198 Upgrading osctrl-cli to use urfave cli v2
  cli/environment.go
  cli/main.go
  cli/node.go
  cli/query.go
  cli/settings.go
  cli/tag.go
  cli/user.go
  go.mod
  go.sum
  tls/main.go
Labels: enhancement, deployment, osctrl-cli, build

#199 Ordering parameters for help
  admin/main.go
  cli/main.go
  tls/main.go
Labels: enhancement, osctrl-tls, osctrl-admin, osctrl-cli

#200 Using correct help message and load config for osctrl-tls
  admin/main.go
  api/main.go
  tls/main.go
Labels: enhancement, deployment, osctrl-tls, osctrl-api, osctrl-admin

#201 Using single logger and logger config file
  admin/handlers/handlers.go
  admin/handlers/templates.go
  admin/handlers/utils.go
  admin/main.go
  admin/settings.go
  admin/utils.go
  api/main.go
  api/settings.go
  cli/main.go
  deploy/config/service.json
  deploy/docker/Dockerfile-osctrl-dev
  deploy/docker/Dockerfile-osctrl-prod
  deploy/docker/conf/osctrl/admin/admin.json
  deploy/docker/conf/osctrl/api/api.json
  deploy/docker/conf/osctrl/tls/tls.json
  deploy/provision.sh
  logging/db.go
  logging/graylog.go
  logging/logging.go
  logging/splunk.go
  tls/main.go
  tls/settings.go
  types/types.go
  utils/http-utils.go
Labels: deployment, osctrl-tls, osctrl-api, osctrl-admin, osctrl-cli, logging

#204 Bump release to 0.2.7
  .gitignore
  admin/auth/go.mod
  admin/handlers/go.mod
  admin/sessions/go.mod
  carves/go.mod
  deploy/docker/README.md
  deploy/docker/env.example
  go.mod
  go.sum
  logging/go.mod
  osctrl-api.yaml
  tls/handlers/go.mod
  types/go.mod
  users/go.mod
  version/version.go
Labels: new version

#206 Adding status, result and query logger for stdout
  go.mod
  go.sum
  logging/db.go
  logging/go.mod
  logging/go.sum
  logging/graylog.go
  logging/logging.go
  logging/splunk.go
  logging/stdout.go
Labels: enhancement, logging

#207 Adding status, result and query logger for external file
  go.mod
  go.sum
  logging/file.go
  logging/logging.go
  logging/stdout.go
  settings/settings.go
Labels: osctrl-tls, logging

#208 Adding logger that does not log anything
  logging/logging.go
  logging/none.go
Labels: osctrl-tls, logging

#210 Making scripts directory a string template
  deploy/cicd/Dockerfile-osctrl-tls
  deploy/docker/.air-osctrl-tls.toml
  deploy/docker/Dockerfile-osctrl-dev
  deploy/docker/Dockerfile-osctrl-prod
  deploy/provision.sh
  environments/oneliners.go
  environments/scripts.go
  tls/scripts/quick-add.ps1
  tls/scripts/quick-add.sh
  tls/scripts/quick-remove.ps1
  tls/scripts/quick-remove.sh
Labels: osctrl-tls, enrollment

#211 Fix for #209 with osctrl-admin and osctrl-api using SERVICE_LOGGER
  admin/main.go
  api/main.go
Labels: osctrl-api, osctrl-admin, logging, bugfix

#212 Adding status, result and query logger for kinesis
  go.mod
  go.sum
  logging/kinesis.go
  logging/logging.go
  settings/settings.go
Labels: osctrl-tls, logging

#213 S3 logger for `osctrl-tls`
  admin/auth/go.sum
  admin/handlers/go.sum
  admin/sessions/go.sum
  backend/go.sum
  carves/go.sum
  environments/go.sum
  go.sum
  logging/go.sum
  logging/logging.go
  logging/s3.go
  metrics/go.sum
  nodes/go.sum
  queries/go.sum
  settings/go.sum
  settings/settings.go
  tags/go.sum
  tls/handlers/go.sum
  types/go.sum
  users/go.sum
  utils/go.sum
Labels: osctrl-tls, logging

#215 Migrate to GORM 2
  admin/handlers/handlers.go
  admin/main.go
  admin/sessions/sessions.go
  admin/utils.go
  api/main.go
  api/postgres.go
  backend/backend.go
  carves/carves.go
  cli/main.go
  environments/environments.go
  go.mod
  go.sum
  logging/db.go
  logging/logging.go
  nodes/nodes.go
  queries/queries.go
  queries/saved.go
  settings/settings.go
  tags/tags.go
  tls/main.go
  users/users.go
Labels: enhancement, dependencies
