Repository jmpsec/osctrl, pull requests merged in 2022-04, with the labels that each got.

#248 Cleanup old code and empty password for redis by default
  admin/main.go
  api/main.go
Labels: osctrl-api, osctrl-admin, 🧹 cleanup

#252 Using env variables with osctrl-cli
  admin/main.go
  api/main.go
  cli/main.go
  tls/main.go
Labels: osctrl-cli

#179 Update to Osctrl docker-compose and update to Docker CI/CD
  .dockerignore
  .env.example
  deploy/cicd/Dockerfile-osctrl-admin
  deploy/cicd/Dockerfile-osctrl-api
  deploy/cicd/Dockerfile-osctrl-cli
  deploy/cicd/Dockerfile-osctrl-tls
  deploy/config/logger.json
  deploy/docker/Dockerfile-osctrl-dev
  deploy/docker/Dockerfile-osctrl-prod
  deploy/docker/Dockerfile-osquery
  deploy/docker/README.md
  deploy/docker/conf/nginx/osctrl.conf
  deploy/docker/conf/osctrl/cli/entrypoint.sh
  deploy/docker/conf/osctrl/db.json
  deploy/docker/conf/osquery/entrypoint.sh
  deploy/docker/conf/osquery/wait-cli.sh
  deploy/docker/conf/tls/openssl.cnf.example
  deploy/docker/docker-compose-dev.yml
  deploy/docker/docker-compose-prod.yml
  docker-compose.yml
Labels: deployment, build

#253 Bump to version 0.2.8
  admin/auth/go.mod
  admin/handlers/go.mod
  admin/sessions/go.mod
  carves/go.mod
  deploy/docker/README.md
  deploy/docker/env.example
  go.mod
  logging/go.mod
  osctrl-api.yaml
  tls/handlers/go.mod
  types/go.mod
  users/go.mod
  version/version.go
Labels: new version

#254 Adding UUID to user and fix cli dockerfile
  deploy/cicd/Dockerfile-osctrl-cli
  environments/environments.go
  environments/util.go
  users/users.go
  utils/go.mod
  utils/http-utils_test.go
  utils/string-utils.go
  utils/string-utils_test.go
Labels: enhancement, osctrl-cli, build

#255 Fix for signing GHA
  .github/workflows/tagged-releases.yml
Labels: build

#258 Update Dockerfile-osctrl-cli
  .env.example
  deploy/cicd/Dockerfile-osctrl-admin
  deploy/cicd/Dockerfile-osctrl-api
  deploy/cicd/Dockerfile-osctrl-cli
  deploy/cicd/Dockerfile-osctrl-tls
Labels: deployment, osctrl-cli, bugfix

#260 Collect data transferred from nodes into `osctrl-tls`
  admin/handlers/templates.go
  admin/templates/node.html
  carves/carves.go
  cli/environment.go
  cli/main.go
  environments/environments.go
  logging/process.go
  nodes/ipaddress.go
  nodes/metadata.go
  nodes/names.go
  nodes/nodes.go
  tls/handlers/handlers.go
  tls/handlers/utils.go
  tls/handlers/utils_test.go
  utils/string-utils_test.go
  utils/utils.go
  utils/utils_test.go
Labels: osctrl-tls, osctrl-admin
