Repository jmpsec/osctrl, pull requests merged in 2023-11, with the labels that each got.

#354 Support for osquery 5.8.2
  deploy/osquery/data/5.8.2.json
Labels: osquery

#355 Support for osquery 5.8.2
  .env.example
  .github/workflows/build_and_test_main_merge.yml
  .github/workflows/build_and_test_pr.yml
  .github/workflows/create_tagged_releases.yml
  deploy/cicd/deb/generate-deb-package.sh
  deploy/docker/Dockerfile-osquery
  deploy/docker/env.example
  deploy/provision.sh
  version/version.go
  version/version_test.go
Labels: osquery

#356 Support for golang 1.21.3
  .github/workflows/build_and_test_main_merge.yml
  .github/workflows/create_tagged_releases.yml
  deploy/lib.sh
  deploy/provision.sh
Labels: deployment

#357 Retrieve service settings via API
  api/handlers-settings.go
  api/main.go
Labels: osctrl-api

#359 Fix for the GHA to build releases
  .github/workflows/build_and_test_main_merge.yml
  .github/workflows/create_tagged_releases.yml
Labels: 📦 build, 🚧 bugfix

#360 Adding build badge from GitHub Action
  README.md
Labels: 📚 documentation

#361 Updated release to prepare v0.3.2
  .env.example
  CHANGELOG.md
  admin/auth/go.mod
  admin/handlers/go.mod
  admin/sessions/go.mod
  cache/go.mod
  carves/go.mod
  deploy/docker/README.md
  deploy/docker/env.example
  environments/go.mod
  go.mod
  logging/go.mod
  metrics/go.mod
  osctrl-api.yaml
  settings/go.mod
  tls/handlers/go.mod
  types/go.mod
  users/go.mod
  version/version.go
  version/version_test.go
Labels: 🔖 new version

#362 Fixing GHA for create_tagged_release job
  .github/actions/tagged_release/docker/codesign/action.yml
  .github/actions/tagged_release/github/action.yml
  .github/workflows/create_tagged_releases.yml
Labels: cicd

#352 Adding oauth to auth methods
  settings/settings.go
Labels: osctrl-admin

#363 Support for osquery 5.9.1
  .env.example
  .github/workflows/build_and_test_main_merge.yml
  .github/workflows/build_and_test_pr.yml
  .github/workflows/create_tagged_releases.yml
  deploy/cicd/deb/generate-deb-package.sh
  deploy/docker/Dockerfile-osquery
  deploy/docker/env.example
  deploy/osquery/data/5.9.1.json
  deploy/provision.sh
  go.sum
  version/version.go
  version/version_test.go
Labels: osquery

#364 Adding tool to update go.mod for modules
  admin/handlers/go.mod
  admin/handlers/go.sum
  admin/sessions/go.mod
  backend/go.mod
  backend/go.sum
  cache/go.mod
  cache/go.sum
  carves/go.mod
  carves/go.sum
  environments/go.mod
  go.mod
  go.sum
  logging/go.mod
  logging/go.sum
  metrics/go.mod
  metrics/go.sum
  queries/go.mod
  settings/go.mod
  tags/go.mod
  tls/handlers/go.mod
  tls/handlers/go.sum
  tools/update-modules.sh
  types/go.mod
  users/go.mod
  utils/go.mod
  utils/go.sum
Labels: dependencies

#365 Updated release to prepare v0.3.3
  .env.example
  CHANGELOG.md
  admin/auth/go.mod
  admin/handlers/go.mod
  admin/sessions/go.mod
  cache/go.mod
  carves/go.mod
  deploy/docker/README.md
  deploy/docker/env.example
  environments/go.mod
  go.mod
  logging/go.mod
  metrics/go.mod
  osctrl-api.yaml
  settings/go.mod
  tls/handlers/go.mod
  types/go.mod
  users/go.mod
  version/version.go
  version/version_test.go
Labels: 🔖 new version

#366 Fixing again GHA for create_tagged_release job
  .github/actions/tagged_release/github/action.yml
Labels: 📦 build, cicd

#367 Support for osquery 5.10.2
  .env.example
  .github/workflows/build_and_test_main_merge.yml
  .github/workflows/build_and_test_pr.yml
  .github/workflows/create_tagged_releases.yml
  deploy/cicd/deb/generate-deb-package.sh
  deploy/docker/Dockerfile-osquery
  deploy/docker/env.example
  deploy/osquery/data/5.10.2.json
  deploy/provision.sh
  version/version.go
  version/version_test.go
Labels: osquery

#368 Remove deprecated set-output
  .github/workflows/build_and_test_main_merge.yml
  .github/workflows/build_and_test_pr.yml
  .github/workflows/create_tagged_releases.yml
Labels: 📦 build, cicd

#369 Updated release to prepare v0.3.4
  .env.example
  CHANGELOG.md
  admin/auth/go.mod
  admin/handlers/go.mod
  admin/sessions/go.mod
  cache/go.mod
  carves/go.mod
  deploy/docker/README.md
  deploy/docker/env.example
  environments/go.mod
  go.mod
  logging/go.mod
  metrics/go.mod
  osctrl-api.yaml
  settings/go.mod
  tls/handlers/go.mod
  types/go.mod
  users/go.mod
  version/version.go
  version/version_test.go
Labels: 🔖 new version

#370 Fix typo in entrypoint.sh
  deploy/docker/conf/osctrl/cli/entrypoint.sh
Labels: deployment, osctrl-cli
