Repository jmpsec/osctrl, pull requests merged in 2024-12, with the labels that each got.

#573 Dependencies bump to prevent build errors
  admin/handlers/go.mod
  admin/handlers/go.sum
  admin/sessions/go.mod
  admin/sessions/go.sum
  api/handlers/go.mod
  api/handlers/go.sum
  backend/go.mod
  backend/go.sum
  cache/go.mod
  cache/go.sum
  carves/go.mod
  carves/go.sum
  environments/go.mod
  environments/go.sum
  go.mod
  go.sum
  logging/go.mod
  logging/go.sum
  metrics/go.mod
  metrics/go.sum
  nodes/go.mod
  nodes/go.sum
  queries/go.mod
  queries/go.sum
  settings/go.mod
  settings/go.sum
  tags/go.mod
  tags/go.sum
  tls/handlers/go.mod
  tls/handlers/go.sum
  types/go.mod
  types/go.sum
  users/go.mod
  utils/go.mod
  utils/go.sum
Labels: dependencies

#575 Update to x/crypto to mitigate CVE-2024-45337
  admin/handlers/go.mod
  admin/handlers/go.sum
  admin/sessions/go.mod
  admin/sessions/go.sum
  api/handlers/go.mod
  api/handlers/go.sum
  backend/go.sum
  cache/go.mod
  carves/go.mod
  environments/go.mod
  logging/go.sum
  queries/go.mod
  settings/go.mod
  tags/go.mod
  tls/handlers/go.mod
  tls/handlers/go.sum
  types/go.mod
  users/go.mod
Labels: dependencies, 🔐 security

#567 Add log level and format configuration options for services
  admin/main.go
  api/main.go
  tls/main.go
  types/types.go
Labels: osctrl-api, osctrl-admin, :file_cabinet: logging

#578 Fix to prevent queries not completing
  queries/queries.go
Labels: osctrl-tls, queries, 🚧 bugfix
