Repository jmpsec/osctrl, pull requests merged in 2024-10, with the labels that each got.

#525 Keeping bruno files up to date to osctrl-api definition
  tools/bruno/environments/get -environments--env--remove--target-.bru
  tools/bruno/environments/post -environments--env--enroll--action-.bru
  tools/bruno/environments/post -environments--env--enroll--target-.bru
  tools/bruno/environments/post -environments--env--remove--action-.bru
Labels: osctrl-api, 📚 documentation

#522 Add prometheus metrics to osctrl-tls
  Makefile
  go.mod
  go.sum
  tls/handlers/go.mod
  tls/handlers/go.sum
  tls/handlers/handlers.go
  tls/handlers/metrics.go
  tls/main.go
  types/types.go
Labels: osctrl-tls, 📊 metrics

#533 Cleanup of files and dependencies
  admin/handlers/go.mod
  admin/handlers/go.sum
  admin/handlers/go.sum 13-41-41-327.sum
  admin/sessions/go.mod
  admin/sessions/go.sum 13-41-24-499.sum
  api/handlers/go.mod
  api/handlers/go.sum
  cache/go.mod
  carves/go.mod
  carves/go.sum
  environments/go.mod
  go.mod
  go.sum
  logging/go.mod
  logging/go.sum
  logging/go.sum 13-39-37-311.sum
  metrics/go.mod
  queries/go.mod
  settings/go.mod
  tags/go.mod
  tls/handlers/go.mod
  tls/handlers/go.sum
  tls/handlers/go.sum 13-38-54-736.sum
  types/go.mod
  users/go.mod
Labels: dependencies, 🧹 cleanup

#535 Check for postgres user and database before creating
  deploy/lib.sh
  deploy/provision.sh
Labels: deployment, backend, 🚧 bugfix

#536 Distributed queries and carves do expire
  admin/handlers/json-carves.go
  admin/handlers/json-queries.go
  admin/handlers/post.go
  admin/handlers/templates.go
  admin/handlers/types-requests.go
  admin/handlers/utils.go
  admin/main.go
  admin/settings.go
  admin/static/js/carves.js
  admin/static/js/query.js
  admin/templates/carves-details.html
  admin/templates/carves-run.html
  admin/templates/queries-logs.html
  admin/templates/queries-run.html
  queries/queries.go
  settings/settings.go
Labels: ✨ enhancement, queries

#538 Update username and other metadata from decorators
  logging/process.go
  logging/utils.go
  nodes/ipaddress.go
  nodes/nodes.go
Labels: osctrl-tls, :file_cabinet: logging, 🚧 bugfix

#539 Modal in osctrl-admin to add a new query to schedule
  admin/static/js/configuration.js
  admin/templates/components/page-modals.html
  admin/templates/conf.html
  admin/templates/tags.html
  logging/process.go
Labels: ✨ enhancement, osctrl-admin

#540 Avoid replacing metadata values with the string mismatched
  admin/templates/components/page-modals.html
  logging/utils.go
Labels: ✨ enhancement, 🚧 bugfix

#541 Fix for metadata updates done wrong on mismatch
  logging/utils.go
Labels: 🚧 bugfix

#542 Avoid spamming logs with unnecessary log entries for metadata mismatch
  logging/utils.go
Labels: 🚧 bugfix

#543 Run queries and carves via osctrl-api with expiration
  admin/handlers/post.go
  admin/handlers/utils.go
  api/handlers/carves.go
  api/handlers/queries.go
  queries/utils.go
  types/types.go
Labels: osctrl-api, queries, carves

#544 Run queries and carves with expiration using osctrl-cli
  cli/api-carve.go
  cli/api-query.go
  cli/carve.go
  cli/main.go
  cli/query.go
Labels: osctrl-cli, queries, carves

#545 Delete and expire carves and queries via osctrl-api
  api/handlers/carves.go
  api/handlers/queries.go
  api/main.go
  osctrl-api.yaml
  queries/queries.go
  settings/settings.go
Labels: osctrl-api, queries, carves

#551 Using osctrl-api by osctrl-cli for expire/delete queries and carves
  cli/api-carve.go
  cli/api-query.go
  cli/carve.go
  cli/query.go
  settings/settings.go
Labels: osctrl-cli, queries, carves

#550 Fix for osctrl-api context type mismatch
  api/auth.go
  api/handlers/carves.go
  api/handlers/environments.go
  api/handlers/nodes.go
  api/handlers/platforms.go
  api/handlers/queries.go
  api/handlers/settings.go
  api/handlers/tags.go
  api/handlers/users.go
  api/handlers/utils.go
Labels: osctrl-api

#552 Elastic logger for osctrl-tls
  go.mod
  go.sum
  logging/elastic.go
  logging/go.mod
  logging/go.sum
  logging/logging.go
  settings/settings.go
  tls/main.go
Labels: osctrl-tls, :file_cabinet: logging

#553 Dependencies update to prepare for release
  admin/handlers/go.mod
  admin/handlers/go.sum
  admin/sessions/go.mod
  api/handlers/go.mod
  api/handlers/go.sum
  cache/go.mod
  carves/go.mod
  carves/go.sum
  environments/go.mod
  go.mod
  go.sum
  logging/go.mod
  logging/go.sum
  metrics/go.mod
  queries/go.mod
  settings/go.mod
  tags/go.mod
  tls/handlers/go.mod
  tls/handlers/go.sum
  types/go.mod
  users/go.mod
Labels: dependencies

#548 Add metrics for size of ingested data
  tls/handlers/metrics.go
  tls/handlers/post.go
Labels: osctrl-tls, 📊 metrics
