Repository jmpsec/osctrl, pull requests merged in 2025-04, with the labels that each got.

#632 Refactor calls to debug messages in all services
  cmd/admin/handlers/get.go
  cmd/admin/handlers/handlers.go
  cmd/admin/handlers/json-carves.go
  cmd/admin/handlers/json-logs.go
  cmd/admin/handlers/json-nodes.go
  cmd/admin/handlers/json-queries.go
  cmd/admin/handlers/json-stats.go
  cmd/admin/handlers/json-tags.go
  cmd/admin/handlers/post.go
  cmd/admin/handlers/templates.go
  cmd/admin/handlers/tokens.go
  cmd/admin/main.go
  cmd/api/handlers/carves.go
  cmd/api/handlers/environments.go
  cmd/api/handlers/get.go
  cmd/api/handlers/handlers.go
  cmd/api/handlers/login.go
  cmd/api/handlers/nodes.go
  cmd/api/handlers/platforms.go
  cmd/api/handlers/queries.go
  cmd/api/handlers/settings.go
  cmd/api/handlers/tags.go
  cmd/api/handlers/users.go
  cmd/api/main.go
  cmd/tls/handlers/handlers.go
  cmd/tls/handlers/post.go
  cmd/tls/main.go
  pkg/config/flags.go
  pkg/config/types.go
  pkg/logging/debughttp.go
  pkg/utils/http-utils.go
  pkg/utils/http-utils_test.go
Labels: osctrl-tls, osctrl-api, osctrl-admin

#633 Using correct directory for `make install_admin` target
  Makefile
Labels: osctrl-admin, 📦 build

#636 Add inmemory cache for env
  cmd/admin/handlers/handlers.go
  cmd/admin/main.go
  cmd/api/handlers/handlers.go
  cmd/api/main.go
  cmd/cli/main.go
  cmd/tls/handlers/handlers.go
  cmd/tls/handlers/post.go
  cmd/tls/main.go
  pkg/cache/in-memory.go
  pkg/cache/in-memory_test.go
  pkg/cache/metrics.go
  pkg/environments/env-cache.go
  pkg/environments/environments.go
  pkg/environments/flags.go
  pkg/environments/osqueryconf.go
Labels: ✨ enhancement, cache

#640 Refactor nodes package
  cmd/admin/main.go
  cmd/api/main.go
  cmd/cli/main.go
  cmd/tls/main.go
  pkg/cache/cache.go
  pkg/nodes/cache.go
  pkg/nodes/metadata.go
  pkg/nodes/models.go
  pkg/nodes/node-cache.go
  pkg/nodes/nodes.go
  pkg/nodes/utils.go
  pkg/nodes/utils_test.go
  pkg/queries/queries_test.go
  pkg/types/osquery.go
Labels: refactor, 🚧 bugfix, cache

#643 Upgrade go to 1.24.2
  .env.example
  .github/actions/build/binaries/action.yml
  .github/actions/test/binaries/action.yml
  .github/workflows/build_and_test_main_merge.yml
  .github/workflows/build_and_test_pr.yml
  .github/workflows/create_tagged_releases.yml
  .github/workflows/golangci-lint.yml
  deploy/docker/dockerfiles/Dockerfile-dev-admin
  deploy/docker/dockerfiles/Dockerfile-dev-api
  deploy/docker/dockerfiles/Dockerfile-dev-cli
  deploy/docker/dockerfiles/Dockerfile-dev-tls
  deploy/lib.sh
  go.mod
  go.sum
Labels: dependencies, cicd, go
