Repository jmpsec/osctrl, pull requests merged in 2025-03, with the labels that each got.

#608 Fix to `IsActive` utility function in nodes package
  pkg/nodes/utils.go
  pkg/nodes/utils_test.go
Labels: test

#609 Adding cache client to nodes manager
  cmd/admin/main.go
  cmd/api/main.go
  cmd/cli/main.go
  cmd/tls/main.go
  pkg/nodes/nodes.go
  pkg/queries/queries_test.go
Labels: cache

#610 Using golang 1.24.1
  .env.example
  .github/actions/build/binaries/action.yml
  .github/actions/test/binaries/action.yml
  .github/workflows/build_and_test_main_merge.yml
  .github/workflows/build_and_test_pr.yml
  .github/workflows/create_tagged_releases.yml
  deploy/docker/dockerfiles/Dockerfile-dev-admin
  deploy/docker/dockerfiles/Dockerfile-dev-api
  deploy/docker/dockerfiles/Dockerfile-dev-cli
  deploy/docker/dockerfiles/Dockerfile-dev-tls
  deploy/lib.sh
  deploy/provision.sh
  go.mod
  go.sum
Labels: cicd, go

#611 Support for osquery 5.16.0
  .env.example
  .github/workflows/build_and_test_main_merge.yml
  .github/workflows/build_and_test_pr.yml
  .github/workflows/create_tagged_releases.yml
  deploy/cicd/deb/generate-deb-package.sh
  deploy/docker/conf/dev/.env.example
  deploy/docker/dockerfiles/Dockerfile-osquery
  deploy/osquery/data/5.16.0.json
  deploy/provision.sh
  pkg/version/version.go
  pkg/version/version_test.go
  tools/README.md
  tools/build-osctrl-deb.sh
  tools/build-osctrl-pkg.sh
Labels: osquery

#607 Refactor and enhance pipeline with batch processing
  cmd/cli/utils.go
  cmd/tls/handlers/handlers.go
  cmd/tls/handlers/post.go
  cmd/tls/handlers/utils.go
  cmd/tls/handlers/writers.go
  cmd/tls/main.go
  pkg/logging/dispatch.go
  pkg/nodes/ipaddress.go
  pkg/nodes/metadata.go
  pkg/nodes/names.go
  pkg/nodes/nodes.go
  pkg/nodes/utils.go
  pkg/nodes/utils_test.go
  pkg/types/types.go
Labels: osctrl-tls, backend

#617 Use the `last_seen` field in the `node.html` template
  cmd/admin/templates/node.html
  osctrl-api.yaml
Labels: osctrl-admin

#615 Remove old push-based metrics
  cmd/admin/handlers/get.go
  cmd/admin/handlers/handlers.go
  cmd/admin/handlers/json-carves.go
  cmd/admin/handlers/json-logs.go
  cmd/admin/handlers/json-nodes.go
  cmd/admin/handlers/json-queries.go
  cmd/admin/handlers/json-stats.go
  cmd/admin/handlers/json-tags.go
  cmd/admin/handlers/post.go
  cmd/admin/handlers/templates.go
  cmd/admin/handlers/tokens.go
  cmd/admin/main.go
  cmd/admin/settings.go
  cmd/admin/utils.go
  cmd/api/handlers/carves.go
  cmd/api/handlers/environments.go
  cmd/api/handlers/get.go
  cmd/api/handlers/handlers.go
  cmd/api/handlers/login.go
  cmd/api/handlers/nodes.go
  cmd/api/handlers/platforms.go
  cmd/api/handlers/queries.go
  cmd/api/handlers/settings.go
  cmd/api/handlers/tags.go
  cmd/api/handlers/users.go
  cmd/api/main.go
  cmd/api/settings.go
  cmd/tls/handlers/carves.go
  cmd/tls/handlers/get.go
  cmd/tls/handlers/handlers.go
  cmd/tls/handlers/post.go
  cmd/tls/main.go
  cmd/tls/settings.go
  pkg/metrics/metrics.go
  pkg/settings/settings.go
Labels: osctrl-tls, osctrl-api, osctrl-admin, 🧹 cleanup, 📊 metrics

#613 Caching nodes and retrieving them
  pkg/nodes/cache.go
  pkg/nodes/utils.go
  pkg/nodes/utils_test.go
Labels: cache

#618 Last refactor changes from `golangci-lint run`
  Makefile
  cmd/admin/handlers/post.go
  cmd/api/main.go
  cmd/api/utils.go
  cmd/cli/carve.go
  cmd/cli/node.go
  cmd/cli/permission.go
  cmd/cli/query.go
  cmd/cli/tag.go
  cmd/cli/user.go
  cmd/tls/handlers/utils.go
  pkg/carves/utils.go
  pkg/logging/kafka.go
  pkg/logging/kinesis.go
  pkg/settings/settings.go
  pkg/utils/string-utils.go
Labels: refactor

#620 Adding GitHub Action to run `golangci-lint` on PRs
  .github/workflows/golangci-lint.yml
  .golangci.yml
Labels: cicd

#619 Move cli flags to a separate pkg
  cmd/tls/main.go
  pkg/config/flags.go
Labels: osctrl-tls

#621 Add metrics for log processing and batch flush durations
  cmd/tls/handlers/metrics.go
  cmd/tls/handlers/post.go
  cmd/tls/handlers/writers.go
Labels: osctrl-tls, 📊 metrics

#622 Migrate all configuration consts from types to config pkg
  cmd/admin/auth.go
  cmd/admin/handlers/get.go
  cmd/admin/handlers/handlers.go
  cmd/admin/handlers/json-carves.go
  cmd/admin/handlers/json-logs.go
  cmd/admin/handlers/json-nodes.go
  cmd/admin/handlers/json-queries.go
  cmd/admin/handlers/json-stats.go
  cmd/admin/handlers/json-tags.go
  cmd/admin/handlers/post.go
  cmd/admin/handlers/templates.go
  cmd/admin/handlers/tokens.go
  cmd/admin/handlers/types-templates.go
  cmd/admin/handlers/utils.go
  cmd/admin/jwt.go
  cmd/admin/main.go
  cmd/admin/saml.go
  cmd/admin/settings.go
  cmd/api/auth.go
  cmd/api/handlers/carves.go
  cmd/api/handlers/environments.go
  cmd/api/handlers/get.go
  cmd/api/handlers/handlers.go
  cmd/api/handlers/login.go
  cmd/api/handlers/nodes.go
  cmd/api/handlers/platforms.go
  cmd/api/handlers/queries.go
  cmd/api/handlers/settings.go
  cmd/api/handlers/tags.go
  cmd/api/handlers/users.go
  cmd/api/jwt.go
  cmd/api/main.go
  cmd/api/settings.go
  cmd/cli/main.go
  cmd/tls/handlers/carves.go
  cmd/tls/main.go
  cmd/tls/settings.go
  cmd/tls/utils.go
  go.mod
  go.sum
  pkg/carves/carves.go
  pkg/carves/s3.go
  pkg/config/flags.go
  pkg/config/types.go
  pkg/logging/elastic.go
  pkg/logging/graylog.go
  pkg/logging/kafka.go
  pkg/logging/kinesis.go
  pkg/logging/logging.go
  pkg/logging/logstash.go
  pkg/logging/s3.go
  pkg/logging/splunk.go
  pkg/settings/settings.go
  pkg/types/types.go
  pkg/users/permissions_test.go
  pkg/users/users.go
  pkg/users/users_test.go
Labels: refactor, osctrl-tls, osctrl-api, osctrl-admin, osctrl-cli

#623 Using console log format for docker dev environment
  docker-compose-dev.yml
Labels: dev env 🛠️

#624 Executed `go mod tidy` after migrating to config pkg
  go.mod
  go.sum
Labels: refactor, dependencies

#625 Fix for `osctrl-tls` after refactoring flags and configuration
  cmd/tls/main.go
  cmd/tls/settings.go
  pkg/config/flags.go
  pkg/logging/logging.go
Labels: refactor, osctrl-tls

#627 Using new flags from config pkg in `osctrl-admin`
  cmd/admin/auth.go
  cmd/admin/handlers/handlers.go
  cmd/admin/handlers/types-templates.go
  cmd/admin/handlers/utils.go
  cmd/admin/main.go
  cmd/admin/settings.go
  cmd/tls/main.go
  cmd/tls/settings.go
  pkg/config/flags.go
  pkg/config/types.go
  pkg/logging/logging.go
  pkg/settings/settings.go
Labels: refactor, osctrl-tls, osctrl-admin

#628 Using new flags from config pkg in `osctrl-api`
  cmd/api/auth.go
  cmd/api/handlers/handlers.go
  cmd/api/main.go
  cmd/api/settings.go
  pkg/config/flags.go
  pkg/config/types.go
  pkg/settings/settings.go
Labels: refactor, osctrl-api

#629 Fix expired distributed queries and enhance testing
  pkg/queries/queries.go
  pkg/queries/queries_test.go
Labels: test, queries

#630 Prepare for release 0.4.4 and update dependencies
  .env.example
  CHANGELOG.md
  deploy/docker/conf/dev/.env.example
  go.mod
  go.sum
  osctrl-api.yaml
  pkg/version/version.go
  pkg/version/version_test.go
Labels: 🔖 new version

#631 Fix error when creating node queries for large datasets
  pkg/queries/queries.go
Labels: queries, backend
