Repository jmpsec/osctrl, pull requests merged in 2025-02, with the labels that each got.

#587 Handle GET/POST if for SAML routes
  admin/auth.go
  admin/main.go
  admin/saml.go
Labels: osctrl-admin

#588 Avoid datatables errors with platform field
  admin/templates/table.html
Labels: osctrl-admin

#589 Show AJAX error in the browser console
  admin/static/js/functions.js
  admin/templates/carves.html
  admin/templates/node.html
  admin/templates/queries-logs.html
  admin/templates/queries.html
  admin/templates/saved.html
  admin/templates/table.html
Labels: osctrl-admin

#590 Dependencies bump after changes
  admin/handlers/go.mod
  admin/handlers/go.sum
  admin/sessions/go.mod
  api/handlers/go.mod
  api/handlers/go.sum
  backend/go.mod
  backend/go.sum
  cache/go.mod
  cache/go.sum
  carves/go.mod
  carves/go.sum
  environments/go.mod
  go.mod
  go.sum
  logging/go.mod
  logging/go.sum
  metrics/go.mod
  metrics/go.sum
  queries/go.mod
  queries/go.sum
  settings/go.mod
  tags/go.mod
  tags/go.sum
  tls/handlers/go.mod
  tls/handlers/go.sum
  types/go.mod
  users/go.mod
  users/go.sum
  utils/go.mod
  utils/go.sum
Labels: dependencies

#591 Prevent empty page due to error with tags
  admin/handlers/post.go
  cli/environment.go
  environments/environments.go
  environments/go.mod
  environments/go.sum
  tags/tags.go
Labels: osctrl-tls, osctrl-admin

#593 Adding types to tags
  admin/handlers/post.go
  admin/handlers/templates.go
  admin/handlers/types-requests.go
  admin/static/js/tags.js
  admin/templates/tags.html
  cli/environment.go
  cli/main.go
  cli/node.go
  environments/util.go
  settings/go.mod
  settings/go.sum
  tags/tags.go
  tags/utils.go
  tags/utils_test.go
Labels: osctrl-admin, osctrl-cli

#594 Adding tag operations in osctrl-api
  admin/handlers/post.go
  api/handlers/tags.go
  api/main.go
  osctrl-api.yaml
  tags/tags.go
  types/go.mod
  types/go.sum
  types/types.go
Labels: osctrl-api, osctrl-admin

#595 Using tag operations with `osctrl-cli`
  api/handlers/tags.go
  api/main.go
  cli/api-tag.go
  cli/api.go
  cli/main.go
  cli/node.go
  cli/tag.go
  tags/tags.go
  tags/utils.go
  tags/utils_test.go
Labels: osctrl-api, osctrl-cli

#596 Decorating tags with environment name via `osctrl-api`
  api/handlers/environments.go
  api/main.go
  cli/api-environment.go
  cli/tag.go
  environments/environments.go
Labels: osctrl-api, osctrl-cli

#597 Updating OpenAPI YAML file with latest changes in `osctrl-api`
  api/main.go
  osctrl-api.yaml
Labels: osctrl-api, 📚 documentation

#598 Dependencies bump after changes
  admin/handlers/go.mod
  admin/handlers/go.sum
  admin/sessions/go.mod
  admin/sessions/go.sum
  api/handlers/go.mod
  api/handlers/go.sum
  backend/go.mod
  backend/go.sum
  cache/go.mod
  cache/go.sum
  carves/go.mod
  carves/go.sum
  environments/go.mod
  environments/go.sum
  go.mod
  go.sum
  logging/go.mod
  logging/go.sum
  metrics/go.mod
  metrics/go.sum
  nodes/go.mod
  nodes/go.sum
  queries/go.mod
  queries/go.sum
  settings/go.mod
  settings/go.sum
  tags/go.mod
  tags/go.sum
  tls/handlers/go.mod
  tls/handlers/go.sum
  types/go.mod
  types/go.sum
  users/go.mod
  users/go.sum
Labels: dependencies

#599 Merge osctrl mod files into a single mod files
  admin/handlers/go.mod
  admin/handlers/go.sum
  admin/sessions/go.mod
  admin/sessions/go.sum
  api/handlers/go.mod
  api/handlers/go.sum
  backend/go.mod
  backend/go.sum
  cache/go.mod
  cache/go.sum
  carves/go.mod
  carves/go.sum
  environments/go.mod
  environments/go.sum
  go.mod
  go.sum
  logging/go.mod
  logging/go.sum
  metrics/go.mod
  metrics/go.sum
  nodes/go.mod
  nodes/go.sum
  queries/go.mod
  queries/go.sum
  settings/go.mod
  settings/go.sum
  tags/go.mod
  tags/go.sum
  tls/handlers/go.mod
  tls/handlers/go.sum
  types/go.mod
  types/go.sum
  users/go.mod
  users/go.sum
  utils/go.mod
  utils/go.sum
  version/go.mod
  version/go.sum
Labels: refactor, dependencies

#603 Remove alias in `node-actions` for `osctrl-cli` to avoid conflict
  cmd/cli/main.go
Labels: osctrl-cli

#604 Prepare for release 0.4.3 and update dependencies
  .env.example
  CHANGELOG.md
  deploy/docker/conf/dev/.env.example
  go.mod
  go.sum
  osctrl-api.yaml
  pkg/version/version.go
  pkg/version/version_test.go
Labels: 🔖 new version, dependencies
