Repository jmpsec/osctrl, pull requests merged in 2025-01, with the labels that each got.

#576 Second step for refactor distributed query
  admin/handlers/post.go
  admin/main.go
  api/handlers/queries.go
  api/handlers/utils.go
  logging/db.go
  logging/process.go
  nodes/nodes.go
  queries/queries.go
  queries/queries_test.go
  utils/utils.go
  utils/utils_test.go
Labels: refactor, queries

#579 Dependencies bump before release
  admin/handlers/go.mod
  admin/handlers/go.sum
  admin/sessions/go.mod
  admin/sessions/go.sum
  api/handlers/go.mod
  api/handlers/go.sum
  backend/go.mod
  backend/go.sum
  cache/go.mod
  cache/go.sum
  carves/go.mod
  carves/go.sum
  environments/go.mod
  environments/go.sum
  go.mod
  go.sum
  logging/go.mod
  logging/go.sum
  metrics/go.mod
  metrics/go.sum
  nodes/go.mod
  nodes/go.sum
  queries/go.mod
  queries/go.sum
  settings/go.mod
  settings/go.sum
  tags/go.mod
  tags/go.sum
  tls/handlers/go.mod
  tls/handlers/go.sum
  types/go.mod
  types/go.sum
  users/go.mod
  users/go.sum
  utils/go.mod
  utils/go.sum
Labels: dependencies

#580 Preparing release 0.4.2
  .env.example
  CHANGELOG.md
  admin/handlers/go.mod
  admin/sessions/go.mod
  api/handlers/go.mod
  cache/go.mod
  carves/go.mod
  deploy/docker/conf/dev/.env.example
  environments/go.mod
  go.mod
  logging/go.mod
  osctrl-api.yaml
  tls/handlers/go.mod
  users/go.mod
  version/version.go
  version/version_test.go
Labels: 🔖 new version

#581 Forgotten osquery 5.12.1
  deploy/docker/dockerfiles/Dockerfile-osquery
Labels: deployment

#582 Deploy dev with `provision.sh` using `Makefile` and fix for logger
  Makefile
  deploy/config/logger.json
  deploy/provision.sh
Labels: deployment, osctrl-tls, osctrl-admin

#583 Support for osquery 5.15.0
  .env.example
  .github/workflows/build_and_test_main_merge.yml
  .github/workflows/build_and_test_pr.yml
  .github/workflows/create_tagged_releases.yml
  .pre-commit-config.yaml
  deploy/cicd/deb/generate-deb-package.sh
  deploy/docker/conf/dev/.env.example
  deploy/docker/dockerfiles/Dockerfile-osquery
  deploy/osquery/data/5.15.0.json
  deploy/provision.sh
  tools/README.md
  tools/build-osctrl-deb.sh
  tools/build-osctrl-pkg.sh
  version/version.go
  version/version_test.go
Labels: osquery

#584 Ability to add a single flag for osquery
  environments/flags.go
  environments/flags_test.go
Labels: osquery

#586 Prevent nil pointer when loading any JSON configuration
  admin/handlers/handlers.go
  admin/jwt.go
  admin/main.go
  admin/oauth.go
  admin/oidc.go
  admin/saml.go
  api/jwt.go
  backend/backend.go
  cache/cache.go
  carves/s3.go
  cli/api.go
  logging/elastic.go
  logging/graylog.go
  logging/kinesis.go
  logging/logstash.go
  logging/s3.go
  logging/splunk.go
  metrics/metrics.go
Labels: osctrl-api, osctrl-admin, osctrl-cli, carves, backend, :file_cabinet: logging, cache
